sstd_library.pro.user
sstd_boost_helper.exe
build-sstd_library*
sstd_library_test/sstd_library_test.pro.user
.qmake.stash
sstd_library.vcxproj
sstd_library.vcxproj.filters
sstd_library.sln
.vs/
.vsc*/
sstd_library.vcxproj.user
boost_*.obj

sstd_library_test/test_sstd_library.vcxproj
sstd_library_test/test_sstd_library.vcxproj.filters
sstd_library_test/test_sstd_library.vcxproj.user
build-lua-*
*.9-pre1

cgal-releases-CGAL-4.14/
cgal-releases-CGAL-4.14.zip

*.user
tools/make_include/make_include.pro.user
build-test_*
*vcxproj*

debug/moc_predefs.h.cbt
debug/mocinclude.opt
mocinclude.opt
release/moc_predefs.h.cbt
*.tlog
*.obj
moc_*.h
moc_*.cpp

*.pdb
*.log
*.sln
